
.choicesGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.choicesGridItem {
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    background-color: #004497;
    margin: 0.5rem;
    border-radius: 100%;
}